@media screen and (max-width: 1162) {
    .container{
        margin: auto;
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .container{
        margin: auto;
        width: 90%;
    }

    #layanan .container2 .grid2{
        grid-template-columns: 1fr;
    }

}