* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
}
.container2 {
    margin: auto;
    width: 80%;
}

a:hover {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

/* ========================== */
/* Navbar toogle menu */
/* ========================== */



.toggle-menu {
    width: 32px;
      height: 32px;
      background: transparent;
      border-color: transparent;
      padding:0;
  }
  .toggle-menu span {
    width: 100%;
      height: 4px;
      transition: all .3s;
      background-color: transparent;
      position: relative;
      display: block;
  }
  .toggle-menu span:before,
  .toggle-menu span:after {
    content:"";
    width: 100%;
      height: 4px;
      background-color: #000;
      transition: all .3s;
      position: absolute;
      top:0;
      right:0;
  }

  .toggle-menu span:before {
    width:70%;
  }

  .toggle-menu span:after {
    top: 18px;
  }

  .toggle-menu.active span:before {
    transform: rotate(45deg) translate(9px,4px);
      width: 100%;
  }

  .toggle-menu.active span:after {
    transform: rotate(-45deg) translate(8px,-4px);
  }

  .desktop-none {
    display:none;
  }

  @media screen and (max-width: 1266px) {
      menu {
          height: 80px;
          position: fixed;
      }
      .toggle-menu {
        position: fixed;
        top:15px;
        right:15px;
      }

      .desktop-none {
        display: block;
      }
      .mobile-none {
        display: none;
      }

      #primary-menu .logo {
        padding-left:15px;
      }

      #primary-menu {
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        /* width:calc(100% - 150px); */
        /* max-width: 300px; */
        /* padding:20px; */
        background: white;
        height: 100vh;
        top:-100%;
        transition: all .3s ease-in;
      }

      #primary-menu.active {
        top:0;
      }

      #primary-menu ul {
        display: block;
      }

      #primary-menu ul li a {
        display: block;
        padding:20px 15px;
        color: black;
      }

      .satuNav .container .bahasa {
        top: 20px;
        right: 80px;
        background: transparent;
      }
    }

    /* ================================ */


header {
    background: #01B764;
    position: fixed;
    width: 100%;
    z-index: 99;
}

header nav {
    height: 70px;
}
header nav ul {
    display: flex;
    padding: 20px 0;
}

header nav ul li {
    margin: 0 20px;
    transition: ease all 1s;
}

header nav ul li:hover {
    border-bottom: 1px solid white;
}

header nav ul li:nth-last-child(8){
    font-size: 20px;
    font-weight: bold;
    transition: none;
    border-bottom: 1px solid transparent;
}

header nav ul li:nth-last-child(7){
    font-weight: bold;
}

form {
    margin: auto;
    width: 70%;
    border: 1px solid transparent;
    border-radius: 100px;
    box-shadow: 5px 5px 15px grey;
}

form input {
    margin: 10px;
    width: 90%;
    border: 1px solid transparent;
    outline: none;
}

form label {
    padding-left: 15px;
}

#banner {
    height: 620px;
    background: #01B764;
}

#banner::before {
    content: "";
    position: absolute;
    height: 607px;
    width:100%;
    right: 0;
    top: 20px;
    background-image: url(../img/image/bawah.webp);
}

#banner .container {
    padding-top: 60px;
}

#banner .container .flex1 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 78%;

}
/* #banner .container .flex1 .colom h1{
    text-align: right;
} */

#banner .container .flex1 .kiri {
    padding: 100px 0;
    text-align: center;
}

#banner .container .flex1 .kiri .sosmed {
    display: flex;
    
}

#banner .container .flex1 .kiri .sosmed .icon {
    display: flex;
    width: auto;
    justify-content: start;
    margin-left: auto;
    margin-right: 0px;
}

#banner .container .flex1 .kiri .sosmed .icon a img {
    width: 40px;
    margin-left: 20px;
}

#banner .container .flex1 .kiri .sosmed .icon a{
    text-decoration: none;
    background: transparent;
    text-align: right;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

#banner .container .flex1 .kiri .sosmed .icon a:hover {
    background: transparent;
    border: none;
}


#banner .container .flex1 .kiri h2{
    color: white;
    font-style: italic;
    font-size: 24px;
    text-align: right;
}

#banner .container .flex1 .kiri h1{
    color: white;
    font-style: italic;
    font-size: 55px;
    text-align: right;
}

#banner .container .flex1 .kiri p {
    color: white;
    text-align: right;
    font-size: 20px;
}


#banner .container .flex1 .kiri a:hover {
    color: white;
    border: 2px solid white;
    background: transparent;
}

#banner .container .flex1 .kiri a {
    margin-top: 50px;
    padding: 7px 50px;
    background: white;
    color: #01B764;
    border: 2px solid transparent;
    float: right;
    transition: ease-out all 1s;
    
}


#pencarian {
    padding: 100px 0;
}

#pencarian .container h2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

#layanan {
    background: #01B764;
    width: 100%;
}

#layanan .container2 .judulbesar {
    font-size: 36px;
    text-align: center;
    padding: 50px 0;
    color: white;
}

#layanan .container2 .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    padding: 0 0 100px 0;
}


#layanan .container2 .grid2 .colom .card1 {
    background: white;
    height: 430px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #077442;
    background: radial-gradient(circle at top left, #FFFFFF, #7AAA94);
}

#layanan .container2 .grid2 .colom .card1:hover {
    
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #077442;
    background: radial-gradient(circle at top left, #FFFFFF, #7AAA94);
}

#layanan .container2 .grid2 .colom .card1 .ikon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#layanan .container2 .grid2 .colom .card1 .ikon img {
    width: 231px;
}

#layanan .container2 .grid2 .colom .card1 .judul h4,
#layanan .container2 .grid2 .colom .card1 .judul h1 {
    text-align: center;
}

#layanan .container2 .grid2 .colom .card1 .judul h4 {
    font-size: 20px;
    font-weight: lighter;
}

#layanan .container2 .grid2 .colom .card1 .judul h1 {
    font-size: 24px;
    font-weight: bold;
}

#layanan .container2 .grid2 .colom .card1 .konten {
    text-align: center;
}

footer {
    background: #107648;
}

footer .container1 {
    padding: 100px 150px;
}
footer .container1 .griding{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

footer .container1 .colom1,
footer .container1 .colom2 {
    padding: 60px 50px;
}


footer .container1 .colom1 {
    background: #FFFFFF;
}

footer .container1 .colom2 {
    background: #01B764;
}


footer .container1 .colom2 h1 {
    font-size: 24px;
    padding: 10px 0;
    margin-bottom: 30px;
    font-weight: bold;
}

footer .container1 .colom2 .grid1 .row1 h4 {
    font-size: 18px;
}

footer .container1 .colom2 .grid1 .row1 p {
    font-size: 16px;
}

footer .container1 .colom1 img {
    width: 300px;
    display: flex;
    margin: auto;
}


footer .container1 .colom1 .grid1 {
    display: grid;
}

footer .bawah {
    background: #0B281B;
    padding: 20px;
}

footer a {
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    color: rgb(179, 185, 190);
}

#about {
    padding: 100px 0;
}


#about h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#about .container1 {
    width: 77%;
    margin: auto;
}

#about .container1 .griding {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 300px;
    column-gap: 150px;
}

#about .container1 .griding .colom1 {
    display: flex;
    align-items: center;
}

#about .container1 .griding .colom2 {
    background: url(../img/icon/Startup\ life-pana.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* mobile */


@media screen and (max-width: 710px) {
    .container2{
        margin: auto;
        width: 80%;
        padding: 0;
    }

    #banner .container {
        margin: auto;
    }


    #banner .container .flex1 .kanan{
        display: none;
    }

    #banner::before {
        display: none;
    }

    #banner .container .flex1 .kiri{
        width: 100%;
    }

    #banner .container .flex1 .kiri .sosmed{
        display: flex;
    }

    #banner .container .flex1 .kiri .sosmed .icon {
        display: flex;
        justify-content: center;
    }
    
    #banner .container .flex1 .kiri .sosmed .icon img {
        width: 40px;
        margin-left: 20px;
    }

    #banner .container .flex1 .kiri h1,
    #banner .container .flex1 .kiri p {
        text-align: center;
        color: black;
    }
    #banner .container {
        width: 80%;
        margin: auto;
    }

    #banner .container .flex1 .kiri h2{
        color: white;
        font-style: italic;
        font-size: 24px;
        text-align: center;
        border: 1px solid white;
        padding: 10px 0 10px 0;
    }

    #banner .container .flex1 .kiri a {
        display: flex;
        justify-content: center;
        float: none;
    }

    #pencarian .container form{
        margin: 0;
        width: 100%;
    }

    #pencarian .container form input {
        width: 80%;
    }



    #layanan .container2 .grid2{
        grid-template-columns: 1fr;
    }

    footer .container1 .griding {
        grid-template-columns: 1fr;
    }

    footer .container1{
        margin: auto;
        width: 90%;
        padding: 50px 0;
    }


    #about {
        padding: 100px 0;
    }
    
    
    #about h1{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    #about p {
        text-align: justify;
    }
    
    #about .container1 {
        width: 77%;
        margin: auto;
    }
    
    #about .container1 .griding {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
        column-gap: 150px;
    }
    
    #about .container1 .griding .colom1 {
        display: flex;
        align-items: center;
    }
    
    #about .container1 .griding .colom2 {
        background: url(../img/icon/Startup\ life-pana.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 360px) {
    #pencarian .container{
        margin: auto;
        width: 95%;
    }
    #pencarian .container form{
        margin: 0;
        width: 100%;
    }

    #pencarian .container form input {
        width: 70%;
    }

    #banner .container .flex1 .kiri .sosmed{
        display: flex;
    }

    #banner .container .flex1 .kiri .sosmed .icon {
        display: flex;
        justify-content: center;
    }
    
    #banner .container .flex1 .kiri .sosmed .icon img {
        width: 40px;
        margin-left: 20px;
    }

    

    footer .container1 .griding {
        grid-template-columns: 1fr;
    }

    footer .container1{
        margin: auto;
        width: 90%;
        padding: 50px 0;
        overflow: hidden;
    }

    footer .container1 .colom1{
        padding: 10px;
    }
    footer .container1 .colom2 {
        padding: 30px;
    }
}